@import url("https://fonts.googleapis.com/css?family=Roboto:300, 400, 500, 700, 900");
html, body {
  background-color: #232526;
  color: white;
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 5px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  transition: 0.5s;
}
html:active, body:active {
  transition: 0s;
  border: solid 5px rgba(255, 255, 255, 0.1);
}

.infos {
  position: absolute;
  left: 40px;
  top: 40px;
}
.infos h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 1.2;
}
.infos h3 {
  font-weight: 500;
  color: red;
}

.blocks {
  color: white;
}
.blocks .row {
  display: flex;
}
.blocks .block {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  margin: 12px;
  cursor: pointer;
  transition: 0.5s 0.2s;
}
.blocks .block:active, .blocks .block.active {
  background-color: #fff;
  transition: 0s;
  color: black;
}
.blocks .block.block1 {
  box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.2);
  background-color: transparent;
  border: solid 1px #ff5656;
}
.blocks .block.block1:hover {
  background-color: rgba(255, 83, 83, 0.3);
  box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.5);
}
.blocks .block.block1:active, .blocks .block.block1.active {
  background-color: #FF5353;
  box-shadow: 0px 0px 35px #FF5353;
}
.blocks .block.block2 {
  box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.2);
  background-color: transparent;
  border: solid 1px #ffc52c;
}
.blocks .block.block2:hover {
  background-color: rgba(255, 196, 41, 0.3);
  box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.5);
}
.blocks .block.block2:active, .blocks .block.block2.active {
  background-color: #FFC429;
  box-shadow: 0px 0px 35px #FFC429;
}
.blocks .block.block3 {
  box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.2);
  background-color: transparent;
  border: solid 1px #5b81c2;
}
.blocks .block.block3:hover {
  background-color: rgba(89, 128, 193, 0.3);
  box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.5);
}
.blocks .block.block3:active, .blocks .block.block3.active {
  background-color: #5980C1;
  box-shadow: 0px 0px 35px #5980C1;
}
.blocks .block.block4 {
  box-shadow: 0px 0px 35px rgba(251, 233, 183, 0.2);
  background-color: transparent;
  border: solid 1px #fbeab9;
}
.blocks .block.block4:hover {
  background-color: rgba(251, 233, 183, 0.3);
  box-shadow: 0px 0px 35px rgba(251, 233, 183, 0.5);
}
.blocks .block.block4:active, .blocks .block.block4.active {
  background-color: #FBE9B7;
  box-shadow: 0px 0px 35px #FBE9B7;
}

.inputStatus {
  margin-top: 10px;
}
.inputStatus .circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: white;
  opacity: 0.3;
  margin: 5px;
  border-radius: 50%;
}
.inputStatus .circle.correct {
  opacity: 1;
}
.inputStatus.correct .circle {
  background-color: #5980C1;
}
.inputStatus.wrong .circle {
  background-color: #FF5353;
}
